<script type="text/javascript">
$(document).ready(function () {
  window['<%= options[:container] %>'] = new Pointsable(<%= options.camelize_keys.to_json.html_safe %>)
});
</script>
<div id="<%= options[:container] %>"></div>
