<!DOCTYPE html>
<html>
<head>
  <title>Pointsable</title>
  <%= stylesheet_link_tag    "pointsable/application", :media => "all" %>
  <%= javascript_include_tag "pointsable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
